<!doctype html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>

    <div class="navbar px-6 bg-red-200 text-2xl">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li><a>Home</a></li>
                    <li><a>Shop</a></li>
                    <li><a href="{% url 'order_list' %}">Your Orders</a></li>
                    {% if request.user.get_username == 'admin' %}
                    <li><a href="{% url 'user_list' %}">Send Mail</a></li>
                    {% endif %}
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
            <div class="w-14 h-14">
                <img src="https://t3.ftcdn.net/jpg/03/33/90/46/360_F_333904627_tnCepUpc3Uynb6stmEbverr8HeWS2VZl.jpg"
                    width="100%" height="100%" class="rounded-full" alt="Image">
            </div>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a>Shop</a></li>
                <li><a href="{% url 'order_list' %}">Your Orders</a></li>
                {% if request.user.get_username == 'admin' %}
                <li><a href="{% url 'user_list' %}">Send Mail</a></li>
                {% endif %}
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
        <div class="navbar-end">

            <div class="notification-bolx">
                <div id="logo-popup" class="nofitication-logo flex items-center">
                    <img src="{% static 'image/bell.png' %}" alt="">
                    <span>17</span>
                </div>
                <div id="noti-item" class="notification-items hidden">

                    <li>Hello Bangladesh I am Rakib</li>
                    <hr>
                    <li>Hello Bangladesh I am Rakib</li>
                    <hr>
                    <li>Hello Bangladesh I am Rakib</li>
                    <hr>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, animi.</li>
                    <hr>
                    </ul>
                </div>
            </div>

            <div class="w-14 h-14">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_1bpO0XDD8fbmRvnbnkCoQNFFoH3AqofVTg&s"
                    width="100%" height="100%" class="rounded-full" alt="Image">
            </div>
        </div>
    </div>

    {% block body %}

    {% endblock %}

    <footer class="footer bg-neutral text-neutral-content p-10 mt-12">
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
    </footer>



<!-- 
    <script>
        let ws_notification_send = new WebSocket('ws://127.0.0.1:8000/ws/send-notification/')

        ws_notification_send.onopen = e => {
            console.log("Websocket succceffully connected from notification.....")
        }

        ws_notification_send.onmessage = e => {
            console.log("Websocket succceffully get message.....")
            console.log(e)
        }

        ws_notification_send.onerror = e => {
            console.log(e)
        }

        ws_notification_send.onclose = e => {
            console.log("Websocket Connection lost..")
        }
    </script> -->


    <script src="{% static 'index.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
        integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>