{% extends 'base.html' %}

{% block body %}


<div class="text-center w-[8rem] mx-auto mt-12">
    <p class="text-red-500 border-b-2 border-red-400 pb-2">ITEM YOUR LIKE</p>
    <h3 class="text-2xl pt-2">Fast Food</h3>
</div>
<div class="mt-12 flex col-4">
    {% for product in products %}
    <div className="card bg-base-100 shadow-xl">
        <figure>
            <img src={{product.image.url}} alt="Shoes" />
        </figure>
        <div className="card-body">
            <h2 className="card-title">Shoes!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div className="card-actions justify-end">
                <button className="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}