{% extends 'base.html' %}

{% block body %}

<div class="w-11/12 mx-auto mt-12">
    <div class="overflow-x-auto">
        <table class="table border">
            <!-- head -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- row 1 -->
                {% for user in users %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{request.user.username}}</td>
                    <td>{{request.user.email}}</td>
                    <td><a style="background-color: tomato;padding: 6px 10px;color: white; border-radius: 8px;">View
                            Order</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-6">
        <a href="#" class="btn" onclick="my_modal_1.showModal()"
            style="background-color: tomato;padding: 6px 10px;color: white; border-radius: 8px">Send Mail To
            All</a>
    </div>


    <!-- Open the modal using ID.showModal() method -->
    <dialog id="my_modal_1" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Send to all users</h3>
            <form action="{% url 'send_mail' %}" method="POST">
                {% csrf_token %}
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Email Subject</span>
                    </div>
                    <input type="text" name="sub" placeholder="Type here" required class="input input-bordered w-full" />
                </label>
                <label class="form-control w-full"></label>
                <div class="label">
                    <span class="label-text">Email Content</span>
                </div>
                <input type="text" name="email_content" placeholder="Type here" required class="input input-bordered w-full" />
                </label>
                <input type="submit" value="Send Mail" class="input input-bordered w-full bg-red-500 mt-6 text-white">
            </form>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>

</div>

{% endblock %}